---
import SEO from "../SEO.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title="Francis York Morgan"
      titleDefault="Tinker Tailor Soldier Spy"
      description="Agent"
      canonical="Zach"
      charset="utf-8"
      openGraph={{
        basic: {
          title: "Tinker Tailor Soldier & Spy",
          type: "book",
          image:
            "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          url: "smiley",
        },
        optional: {
          audio: "audio_link",
          description: "optional description",
          determiner: "an",
          locale: "de_DE",
          localeAlternate: ["en_US"],
          siteName: "test",
          video: "video_url",
        },
      }}
    />
  </head>
  <body class="text-3xl font-bold underline">
    <div class="mb-12 mt-0 md:mb-24 md:mt-16 px-4"/>
    <div class="my-16">
        <h1 class="font-normal font-serif my-8 text-center text-8xl text-proseLinks tracking-tighter dark:text-proseInvertLinks">
            About
        </h1>

        <!--
        <div class="container max-w-[625px] mx-auto
            prose prose-lg dark:prose-invert
            prose-a:border-b-[1px] prose-a:border-slate-500 prose-a:font-sans prose-a:no-underline
            hover:prose-a:border-slate-200">
            <p>
                Sent via the only universal medium of communication we have
                (email) in the most open format (HTML), my small resistance to
                the continued centralization and confinement of content in
                closed platforms. Sent infrequently.
            </p>
        </div>
        -->
    </div>

  </body>
</html>
